
.header-bar {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.logo {
    margin-left: 134px;
    height: 27.6px;
    width: 120px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    margin-right: 134px;
    width: 244px;
    height: 28px;
    
    a {
        align-self: center;
        border-right: #D0D0D0 solid 1px;

        i {
            margin-right: 14px;
            margin-left: 11px;
        }
    }

    a:last-child {
        border-right: none;
    }

    .signup {
        font-weight: bold;
    }

    button {
        font-size: 100%;
        font-family: inherit;
        border: 0;
        padding: 0;
        background-color: white;
        margin-left: 10px;
    }

    button:hover {
        cursor: pointer;
    }

}


.logged-in-nav-container {
    display: flex;
    margin-right: 134px;
    
    button {
        font-size: 100%;
        font-family: inherit;
        border: 0;
        padding: 0;
        background-color: white;
    }

    button:hover {
        cursor: pointer;
    }
}

.yp-dropdown {
    position: relative;
    display: inline-block;
}

.yp-dropdown:hover .yp-dropdown-content {
    display: block;
}

.yp-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 8px;
}

.yp-dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}