.recipe-index-top-level {
    margin: 13px 8%;
    background-color: lightgoldenrodyellow;
}

.recipe-index-list {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Source Sans Pro', arial;
    font-size: 18px;
    background-color: aquamarine;

    .r-index-li-home {
        margin-right: 5%;
        width: 20%;

        div {
            background-color: lightcoral;
            display: flex;
            flex-wrap: wrap;
            margin: 10%;
            height: 362px;
            width: 100%;

            a {
                width: 100%;
                display: flex;
                flex-direction: column;
    
                .r-index-item-img-url {
                    height: 70%;
                    background-color: lightgray;
                    margin: 5%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
    
                .r-index-item-info {
    
                }
            }
        }
    }    

}

